[Unit]
Description=client_rendering

[Service]
WorkingDirectory=/root/server_rendering
ExecStart=/root/server_rendering/server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

