[Unit]
Description=client_rendering

[Service]
WorkingDirectory=/root/client_rendering/
ExecStart=/root/client_rendering/client.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

